@import "_normalize.scss";
@import url('https://fonts.googleapis.com/css?family=Kite+One|Roboto');

$main-color: rgb(68, 124, 146);
$display-font: 'Kite One';
$text-font: 'Roboto';
$text-color: white;
$text-highlight: #000;

body {
  color: #333;
  background: #e6ecf0;
}

.display-font {
  font-family: $display-font;
}

.text-font {
  font-family: $text-font; 
}

a {
  color: $text-color;
  cursor: pointer;
  &:hover {
    color: $text-highlight;
    text-decoration: none;
  }
}

#index-wrapper {
  font-family: $text-font;
  text-align: center;
  color: white;
  background: $main-color;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav {
  background: $main-color;

}

#nav-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
  & > div {
    padding: 10px;
  }
}

.nav-items {
  display: flex;
  .nav-item {
    margin: 0 10px;
  }  
}

#wrapper {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  min-height: 100vh;
  color: black;
  display: flex;
  justify-content: space-around;
  .left-panel {
    width: 200px;
  }
  .right-panel {
    width: 65%;
  }
}

.user-card {
  height: 150px;
  text-align: center;
  border: 1px solid #999;
  .top-half {
    background: $main-color;
    color: white;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .bottom-half {
    background: white;
    height: 60%;
  }
}

.post-block {
  background: white;
  border: 1px solid #999;
  padding: 10px;
  margin: 10px 0;
  max-width: 500px;
}

#form {
  display: flex;
  flex-direction: column;
  > textarea {
    width: 100%;
    max-width: 500px;
  }
  > #submit-button {
    width: 80px;
  }
}

.hero {
  height: 150px;
  width: 95vw;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .hero-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 50%;
    color: white;
    background: $main-color;
  }
  .hero-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 50%;
    background: white;
    color: #333;
  }
}

#profile-wrapper  {
  margin-top: 50px;

}

.post {
  margin: 10px auto;
}
.post-block {
  margin: 0 auto;
}