@import "_normalize.scss";

#wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  height: 100px;
  background: skyblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  margin: 20px 0;
}

#add-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: 0;
  background: pink;
  margin: 0;
  padding: 0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  > span {
    margin: -5px auto 0 auto;
    font-size: 3rem;
    color: #333;
  }
}