@import "_normalize.scss";

#wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  height: 100px;
  background: skyblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  margin: 20px 0;
}